In [4]:
#import
import geopandas as gpd

In [5]:
#ejsm read file 
ejsm = gpd.read_file('/home/jovyan/up206a/up206a/mydata/EJSM_Scores.csv')

In [6]:
#defining the data type
type(ejsm)

geopandas.geodataframe.GeoDataFrame

In [22]:
#convert tract_1 object into string
ejsm = gpd.read_file(
'/home/jovyan/up206a/up206a/mydata/EJSM_Scores.csv',
dtype={
    'Tract_1':str
})

In [23]:
#fill leading number with 0 to meet county fips
ejsm ['Tract_1'] = ejsm['Tract_1'].str.zfill(11)

In [24]:
#print head
ejsm.head(8)

,OBJECTID,Tract_1,CIscore,HazScore,HealthScore,SVscore,CCVscore,Shape__Area,Shape__Length,geometry
0,1,06037920336,10,3,1,4,2,2438559.77734375,8124.37309127034,None
1,2,06037920044,4,1,1,1,1,1470811.18359375,5545.2984520509,None
2,3,06037573003,13,5,3,3,2,652816.796875,3310.74379315995,None
3,4,06037571704,13,3,2,4,4,699401.10546875,4113.47717495788,None
4,5,06037570403,17,5,3,5,4,831783.89453125,3887.00039443002,None
5,6,06037553503,15,3,4,4,4,617211.99609375,3495.39350816652,None
6,7,06037552302,14,4,2,3,5,1390240.3984375,5528.30345311442,None
7,8,06037503104,10,1,3,4,2,796205.62890625,4021.42999070724,None

In [25]:
#print tail
ejsm.tail(8)

,OBJECTID,Tract_1,CIscore,HazScore,HealthScore,SVscore,CCVscore,Shape__Area,Shape__Length,geometry
2335,2336,06037183520,14,4,3,3,4,624269.56640625,3381.53599244958,None
2336,2337,06037183810,18,5,3,5,5,666039.69921875,3774.08085577488,None
2337,2338,06037400602,13,4,3,2,4,2250564.25390625,8056.08892240757,None
2338,2339,06037430302,6,2,1,1,2,2837402.984375,8660.6253486307,None
2339,2340,06037430723,10,1,2,2,5,710445.38671875,4760.54588825875,None
2340,2341,06037431100,14,5,2,3,4,4412788.6953125,9705.18747661907,None
2341,2342,06037533603,19,4,5,5,5,1183445.44921875,5970.4373699615,None
2342,2343,06037534101,17,5,5,5,2,743237.5546875,5343.14912384179,None

In [26]:
#dataframe information
ejsm.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2343 entries, 0 to 2342
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OBJECTID       2343 non-null   object
 1   Tract_1        2343 non-null   object
 2   CIscore        2343 non-null   object
 3   HazScore       2343 non-null   object
 4   HealthScore    2343 non-null   object
 5   SVscore        2343 non-null   object
 6   CCVscore       2343 non-null   object
 7   Shape__Area    2343 non-null   object
 8   Shape__Length  2343 non-null   object
 9   geometry       0 non-null      geometry
dtypes: geometry(1), object(9)
memory usage: 183.2+ KB

In [39]:
# df sample
ejsm.sample(136)

,OBJECTID,Tract_1,CIscore,HazScore,HealthScore,SVscore,CCVscore,Shape__Area,Shape__Length,geometry,area
2277,2278,06037900704,13,3,1,4,5,7676101.796875,11800.0699903865,None,NaN
292,293,06037320201,13,4,1,4,4,1350797.3515625,6062.76533659712,None,NaN
700,701,06037432300,13,5,1,4,3,2905091.0859375,7431.94646882317,None,NaN
875,876,06037291120,15,4,4,5,2,1017616.625,4037.67957024423,None,NaN
1999,2000,06037541604,16,4,3,5,4,1213332.94140625,4479.19902580916,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
645,646,06037603200,13,4,4,3,2,1647356.2421875,8054.46731083119,None,NaN
1611,1612,06037117405,17,5,2,5,5,297276.8984375,2193.13670128715,None,NaN
1174,1175,06037141201,13,4,4,1,4,1028049.7578125,4464.11122961774,None,NaN
2085,2086,06037273700,9,3,4,1,1,1008125.78125,4050.84313207377,None,NaN
2255,2256,06037218110,17,5,4,3,5,878507.89453125,4694.22835632181,None,NaN

In [44]:
#column names 
ejsm.columns.to_list()

['OBJECTID',
 'Tract_1',
 'CIscore',
 'HazScore',
 'HealthScore',
 'SVscore',
 'CCVscore',
 'Shape__Area',
 'Shape__Length',
 'geometry',
 'area']

In [41]:
#exploring tract values to determine area
ejsm['Tract_1'].value_counts

<bound method IndexOpsMixin.value_counts of 0       06037920336
1       06037920044
2       06037573003
3       06037571704
4       06037570403
           ...
2338    06037430302
2339    06037430723
2340    06037431100
2341    06037533603
2342    06037534101
Name: Tract_1, Length: 2343, dtype: object>

In [50]:
ejsm.dtypes

OBJECTID           object
Tract_1            object
CIscore            object
HazScore           object
HealthScore        object
SVscore            object
CCVscore           object
Shape__Area        object
Shape__Length      object
geometry         geometry
area              float64
dtype: object